<div class="navbar-container">
  <ul class="navbar">
    <li>
      <a routerLink="">
        <img class="logo" src="logos/CarZone.png" alt="Home" />
      </a>
    </li>
    <div class="navbar-links">
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="about">About</a>
      </li>
      <li>
        <a routerLink="services">Services</a>
      </li>
      <li>
        <a routerLink="cars">Cars</a>
      </li>
      <li>
        <a routerLink="contact">Contact</a>
      </li>
      <li>
        <a routerLink="login">Login</a>
      </li>
      <li>
        <a routerLink="register">Register</a>
      </li>
    </div>
  </ul>
</div>
