.navbar-container{
    position: fixed;
    width: 100%;
    z-index: 1;

    transition: 0.4s;
}
.navbar{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navbar .logo{
    width: 100px;
}
.navbar li{
    padding: 1em;
}
.navbar-links{
    display: flex;
    align-items: center;
}
.navbar-links a{
    text-decoration: none;
    color: white;
}
.navbar-links a:hover{
    color: rgb(1, 210, 142);
}
.black-nav{
    background-color: black;
    color: white;
}