<div class="cars-container">
  <div class="flex baseline cars-header-container">
    <h2 class="pageTitle">Our Cars</h2>

    <div class="flex baseline paggination-container">
      <div class="flex paggination">
        <p>Show :</p>
        <span class="pageNo">5</span><span>/</span>
        <span class="pageNo">10</span><span>/</span>
        <span class="pageNo">15</span><span>/</span>
        <span class="pageNo">20</span>
      </div>

      <div class="paste-button">
        <button class="button">Sort &nbsp; ▼</button>
        <div class="dropdown-content">
          <a id="top" href="#">Default sorting</a>
          <a id="middle" href="#">Sort by model</a>
          <a id="middle" href="#">Sort by year</a>
          <a id="middle" href="#">Sort by price: low to high</a>
          <a id="bottom" href="#">Sort by price: high to low</a>
        </div>
      </div>
    </div>
  </div>

  <div class="car-card-container">
    @for (car of cars; track car.id) {
    <div class="car-card">
      <app-image-loader
        [imageSource]="car.main_image"
        [carModel]="car.model"
        class="car-card-img"
      ></app-image-loader>
      <div>
        <p>
          Model: <span class="underlined bold">{{ car.model }}</span>
        </p>
        <p>
          Year: <span class="underlined bold">{{ car.year }}</span>
        </p>
        <p>
          doors: <span class="underlined bold">{{ car.doors }}</span>
        </p>
        <p>
          Price: <span class="underlined bold">{{ car.price }} EGP</span>
        </p>
      </div>
      <div class="car-card-buttons">
        <button>Book</button>
        <button>More Details</button>
      </div>
    </div>
    }
  </div>
</div>
